<div class="create-account col-12">
  <h2 class="text-center">Create account</h2>

  [if hasCreated]
    <div class="col-12">
      <p>Account successfully created,
        <a href="/"><strong>click here</strong></a>
        to return to the startpage.</p>
    </div>
  [else if !user]
    <div class="row justify-content-center">
      <div class="col-11 col-md-6 col-lg-4 align-self-center">
        <div class="form-group">
          <input id="create-username" class="form-control" placeholder="Username" type="text" />
        </div>
        <div class="form-group">
          <input id="create-password" class="form-control" placeholder="Password" type="text" />
        </div>
        <button id="create-button" class="btn btn-success">Create</button>
        [if error]
          <p>${error}</p>
        [endif]
      </div>
    </div>
  [else]
  <div class="col-12">
    <p>If you intend to create an account, please
      <a id="logout-link" class="pointer"><strong>log out</strong></a>
      of your current one first.</p>
  </div>
  [endif]
</div>