<div class="row">
	<div class="col-xs-4">
		<p>480p</p>
		[repeat low, magnet]
			<div><a href="${magnet.magnet}">Ep. ${magnet.episode}</a></div>
		[endrepeat]
	</div>
	<div class="col-xs-4">
		<p>720p</p>
		[repeat medium, magnet]
			<div><a href="${magnet.magnet}">Ep. ${magnet.episode}</a></div>
		[endrepeat]
	</div>
	<div class="col-xs-4">
		<p>1080p</p>
		[repeat high, magnet]
			<div><a href="${magnet.magnet}">Ep. ${magnet.episode}</a></div>
		[endrepeat]
	</div>
</div>

<!-- <iframe style="display:none" name="magnetframe"></iframe> -->